
body {
    background-color: #A49393;
    margin:0 ;
    
    
}
header{
    background-color: #E8B4B8;
    padding: 2rem;
    font-family: 'Staatliches', cursive;
    
    
}
header li{
    list-style: none;
    font-size: 35px;
   
}
header ul li a{
    text-decoration: none;
    text-transform: uppercase;  
    color: rgb(0, 0, 0);
    border:  #EED6D3 solid;
    padding: 5px;
    letter-spacing: 2px;
      
}
.imagem{
    padding: 15px;
text-align: center;

}
img{
   
   min-width: none;
    max-width: 40rem;
    
    border: solid;
    border-width: 4px;
    margin-top: 6rem;
    border-color: antiquewhite;
}
p{
    font-family:'Staatliches', cursive ;
    font-size: 25px;
    margin-top: 2rem;
    letter-spacing: 2px;
}
.sobre_mim1:hover{
    background-color: #A49393;
}
 .rosa{
     margin-right: 50px;
 }


 
.port2:hover{
    background-color: #A49393;
}
.contato1:hover{
    background-color: #A49393;
}


